<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Login</title>
    <link rel="stylesheet" href="{{ url_for ('static', filename='styles.css') }}"> <!-- style sheet url in static folder-->
</head>

<body>
<h1>User Registration Successful!</h1>
<p1>Please input your newly registed username and password to sign in.</p1>


<form action="/first_login" method="POST">

    <label for="username">Username</label>
    <input type="text" name="username">

    <label for="password">Password</label> 
    <input type="password" name="password">

    <input type="submit" class="submit" value="Login">


</form>
</body>
</html>